* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #0e1014;
}

.cabecalho {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-top: 48px;
    margin-left: 335px;
}

.modo {
    
}

.titulo {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    margin: 62px auto 0;
}

.roxo {
    color: #9747FF;
}

.texto {
    text-align: center;
    color: #fff;
    margin: 24px auto 0;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 34px auto 0;
}

.botao {
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: #9747FF;
    line-height: 60px;
    width: 336px;
    border-radius: 36px;
    font-size: 20px;
    transition: 0.5s;
}

.botao:hover {
    background-color: #8233e8;
}

.imagem {
    display: flex;
    justify-content: center;
    width: auto;
}

.celular {
    width: 792px;
    height: 415px;
}

@media(max-width: 768px) {
    .logo {
        margin-left: 75px;
    }

    .celular {
        height: 350px;
        width: 727px;
    }
}

@media(max-width: 375px){
    .logo {
        margin-left: 10px;
        margin-top: 30px;
    }

    .titulo {
        font-size: 40px;
    }
    .texto {
        font-size: 20px;
    }

    .botao {
        width: 251px;
    }
    .celular {
        width: 341px;
        height: 230px;
    }
}